<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3 class="text-center">Lista de Roles</h3>
            
            <table class="table table-bordered table-striped">
                <thead class="table-white">
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="roleTable">
                </tbody>
            </table>

            </table>
        </div>
    </div>
</div>
<script src="assets/index.js"></script>