<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-10">
          <table class="table table-bordered table-striped">
              <thead class="table-white">
                  <tr>
                      <th>Permisos</th>
                  </tr>
              </thead>
              <tbody id="permissionsTable"></tbody>
          </table>
          <!-- Botón para guardar los permisos -->
          <button id="savePermissions" class="btn btn-primary mt-3" disabled>Guardar Permisos</button>
      </div>
  </div>
</div>

<script src="/roles/assets/permissions.js"></script>
