<!DOCTYPE html>
<html lang="es">
<head>
    <title>
        {% if view|length > 0 %}
            {{ view|capitalize }} -
        {% endif %}
        {{ title }}
    </title>
</head>
<body>
<h1>{{ title }}</h1>
<section>
    {% if view|length > 0 %}
        {{ include(view ~ '.php') }}
    {% endif %}
</section>
</body>
</html>