<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3 class="text-center">Lista de Usuarios</h3>
            
            <table class="table table-bordered table-striped">
                <thead class="table-white">
                    <tr>
                        <th>Dirección</th>
                        <th>Nombre Completo</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="userTable">

                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="script.js"></script>